@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.about-container {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 150px;
}

h1.page-title {
    color: white;
    padding-bottom: 40px;
    font-family: 'Indie Flower', cursive;
    font-weight: 700;
    font-size: 4rem;
}

.header {
    font-size: 2rem;
    
    /* color: #1089FF; */
    color: limegreen;
    border-bottom: 2px solid limegreen;
    padding-left: 15px;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.main-content {
    /* background-color: rgba(31, 31, 31, 0.8); */
    background-color: rgba(7, 19, 42, 0.8);
    border-radius: 20px;
    padding: 50px 75px;
    /* font-weight: bold; */
    /* margin-bottom: 150px; */
}

h3{
    font-size: 2.4rem;
}

.summery p {
    margin: 0 25px;
    font-size: 1.2rem;
}

.about-me-container {
    font-size: 1.4rem;
    color: white;
    padding-bottom: 100px
}

.skills-container {
    padding-bottom: 100px
}

.skills-icon {
   padding: 20px 0;
    color: limegreen;
   
}



.icons {
    display: flex;
    flex-direction: row;
    align-items: center; /* Center horizontally */
    text-align: center; /* Center horizontally */
    justify-content: space-around;
}

.icons div {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    
}

.icons p  {
    color: white;
    text-align: center;
    font-size: 1rem;
}

.skills-summery {
    font-size: 1.4rem;
    color: white;
    padding-top: 40px;
    /* padding: 40px 0 80px; */
}

.resume-container {
    padding-bottom: 100px
    
}

.d-text {
    margin-left: 30px;
    margin-right: 15px;
}

.download:hover {
    color: limegreen;
   
}




 