@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.about-container {
    width: 85%;
    margin: 0 auto;
    padding-bottom: 150px;
  
}

h1.page-title {
    color: #F6F1EE;
    padding-bottom: 40px;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 700;
    font-size: 4.5rem;
}

.header {
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Alegreya Sans SC', sans-serif;
    color: rgb(250, 213, 166);
    border-bottom: 2px solid rgb(250, 213, 166);
    padding-left: 15px;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.main-content {
    background-color:rgba(62, 59, 55, 0.9);
    padding: 50px 75px;
}

h3{
    font-size: 2.4rem;
    font-weight: 600;
}

.summery p {
    margin: 0 25px;
    font-size: 1.2rem;
    font-weight: 500;
}

.intro {
    text-indent: 2em;
}

.about-me-container {
    font-size: 1.4rem;
    color: white;
    padding-bottom: 100px
}

.skills-container {
    padding-bottom: 100px
}

.icons {
    display: flex;
    flex-direction: row;
    align-items: center; 
    text-align: center; 
    justify-content: space-around;
}

.skills-icon {
   padding: 20px 0;
   color:rgb(250, 213, 166);
   
}

.icons p  {
    color:rgb(250, 213, 166);
    text-align: center;
    font-size: 1rem;
}



.skills-summery {
    font-size: 1.4rem;
    color: white;
    padding-top: 40px;
    text-indent: 2em;
    /* padding: 40px 0 80px; */
}

.resume-container {
    padding-bottom: 100px
    
}

.d-text {
    margin-left: 30px;
    margin-right: 15px;
}

.view {
    margin-right: 30px;
}

.resume:hover {
    color:   rgb(235, 133, 65);
}

a:hover {
    color: rgb(235, 133, 65);
   
}





@media screen and (min-width: 768px) and (max-width: 1023px) {
    
}


@media screen and (max-width: 400px) {

    .about-container {
        padding-bottom: 50px;
    }

    h1.page-title  {
        font-size: 3rem;
    }


    .header h3 {
        font-family: 'Alegreya Sans SC', sans-serif;
        font-size: 2rem;
    }

    .main-content {
        width: 100%;
        padding: 20px 0;
        margin: 0 auto;
       
    }

    .summery p {
        width: 100%;
        margin: 0;
        font-size: 1rem;
    }



    .about-me-container, .skills-container, .skills-summery, .resume-container {
        width: 90%;
        margin: 0 auto;
    }


 
    .skills-icon {
        
        font-size: 3rem; 
      }

      .icon-con {
        width: 100px;
        margin-bottom: 10px;
    }

    .resume-container {
        padding-bottom: 50px
        
    }

    .view {
        margin-left: 0px;
        padding: 0;
    }
   
    
  }



 