* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-body {
  min-height: 100vh;
  
}


.app-container{
  
  background-image: url("../../public/background-img.jpg");
  background-size: cover; /* or contain, depending on your preference */
  
  background-repeat: no-repeat;
  background-position: center;
  
}
