.inner-contact-con {
    min-height: 100vh;
    padding-bottom: 50px;
    background-color:rgba(79, 74, 69, 0.7);
}

.page-title {
    padding: 64px 0 16px;
}

.form-container  {
    max-width: 580px;
    width: 40%;
    height: 600px;
    padding: 15px 0;
    margin-bottom: 100px;
}

form {
    background-color:rgb(246, 241, 238);
    border-radius: 5px;
    margin: 0 30%;
}

.input-container {
    margin: 25px 0;
}

.col {
    margin: 0;
}

label {
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 22%;
}

input {
    font-size: 1.4rem;
    outline: none;
    border: 2px solid black;
    background-color: transparent;
}

.required {
    color: red;
    margin-left: 5px;
}


textarea  {
    font-size: 1.4rem;
    resize: none;
    width: 60%;
    height: 180px;
    background-color: transparent;
    border: 2px solid black;
    outline: none;
   
  }
  
  .contact-btn {
    background-color: #282523;
    color: white;
    margin: 20px auto;
    width: 30%;
    font-size: 1.4rem;
    border: none;
    border-radius: 5px;
    /* padding: 10px; */
  }

  .contact-btn:hover {
    background-color: #4F4A45;
    color: white;
} 

.sent-msg {
    border: 2px solid green;
    background-color: rgb(185, 235, 185);
    border-radius: 5px;
    padding: 5px;
    color: green;
    margin: 20px auto;
    text-align: center;
    font-size: 1rem;
}

.fail-msg {
    border: 2px solid red;
    background-color: rgb(255, 188, 188);
    border-radius: 5px;
    padding: 5px;
    color: red;
    margin: 10px auto;
    max-width: 300px;
    text-align: center;
    font-size: 1rem;
}


  @media screen and (max-width: 400px) {
    .inner-contact-con {
        max-width: 400px;
        padding-bottom: 50px;
    }

    .form-container  {
        width: 90%;
        height: 500px;
        padding: 15px 0;
        margin-bottom: 100px;
    }

    label {
        font-size: 1.2rem;
        margin-right: 28%;
        padding: 0;
       
    } 

    .input-container {
        margin: 10px auto 20px;
        width: 85%;
       
    } 

    input{
        width: 80%;
        font-size: 1.2rem;
        outline: none;
        border: 2px solid black;
        background-color: transparent;
    }
    
    form.row, .col {
        width: 400px;
    }

    textarea.col.col-9  {
        font-size: 1rem;
        resize: none;
        width: 350%;
        height: 150px;
        background-color: transparent;
        border: 2px solid black;
        outline: none;
       
      }
  }
