.component {
    /* background-color: rgba(0, 78, 134, 0.8); */
    /* background-color: white; */
}

.page-title h1 {
    color: white;
    margin-right: 33%;
}

.form-container  {
    
    /* background-color: rgba(7, 19, 42,); */
    width: auto;
    /* background-color:white; */
    height: 700px;
    padding: 15px 0;
    margin-bottom: 100px;
    /* border-radius: 15px; */
}

form {
    background-color:white;
    height: 700px;
    border-radius: 15px;
    margin: 0 30%;
    /* display: flex;
    flex-direction: column; */
}

.form-container {
    width: 40%;
}

.input-container {
    margin: 25px 0;
}

.col {
   
    margin: 0;
}




label {
    font-size: 1.5rem;
    margin-left: 22%;
}

input {
    font-size: 1.7rem;
    outline: none;
    border: 3px solid black;
    background-color: transparent;
}

.required {
    color: red;
    margin-left: 5px;
}


textarea  {
    font-size: 1.4rem;
    resize: none;
    width: 60%;
    height: 225px;
    background-color: transparent;
    border: 3px solid black;
    outline: none;
   
  }
  
  .btn {
    /* margin-left: 86%; */
    margin: 20px auto;
    width: 30%;
    font-size: 1.8rem;
    /* padding: 10px; */
  }