.footer-container {
    background-color: rgba(7, 19, 42, 0.8);
    height: 100px;
    opacity: 85%;
}

.github-icon {
    color: aliceblue;
    margin-left: 40px;
    
}

.github-icon:hover {
    color: #1089FF;  
}
