.footer-container {
    background-color: rgb(235, 133, 65);
    height: 70px;
}

.github-icon {
    color: aliceblue;
    margin-left: 40px;
    
}

.github-icon:hover {
    color: #4F4A45;  
}

@media screen and (max-width: 500px) {
    .github-icon {
        
        margin-left: 20px;
        
    
    
   }

   .contact-icon {
    font-size: 2rem;
   }
  }
