.home-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 90%;
}
  
.home-content-box {
    margin-bottom: 75px;

}

/* using below to fix overflow issue */


.intro-head {
    background: linear-gradient(135deg,  white 75%, rgb(189, 189, 189) 85%);
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 0;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 800;
    padding-left: 100px;
    display: inline-block; 
  
}

.line-two {
    background: linear-gradient(135deg,  white 45%, rgb(189, 189, 189) 55%);
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
}  


.container {
    padding-top: 80px; 
}


.home-description h6 {
    height: 60px;
    width: 500px;
    color: white;
    /* font-family: sans-serif; */
    font-weight: 600;
    margin-left: 100px;
}

.projects-btn {
    font-size: 1.3rem;
    font-weight: 500;
    width: 300px;
    padding: 8px 0;
    margin: 0 0 0 100px;
    background-color: #4F4A45;
    color: white;
 
}

.home-img-container {
    background-color: #4F4A45;
    width: 450px; 
    height: 450px; 
    border: 3.2px solid  #ED7D31; 
    margin-right: 0px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    order: 1; 
}


.projects-btn:hover {
    background-color: #282523;
    color: white;
}

@media screen and (min-width: 1450px)  {
    h1.intro-head {
        font-size: 9rem;
    }


    .home-description h6 {
        height: 60px;
        width: 600px;
        color: white;
        font-size: 1.2rem;
        font-weight: 600;
        margin-left: 100px;
    }

    .projects-btn {
        margin: 15px 0 0 100px;
    }
}


@media screen and (min-width: 401px) and (max-width: 1449px) {

   .home-outer-container {
    min-height: 800px;
    padding-left: 0;
    padding-right: 0;
    
    }

    .intro-h-con {
       padding-right: 80px ; 
    }

    h1.intro-head {
        width: 100%;
        font-size: 6.5rem;
      
    }
    .line-two {
        margin-left: 0; 
    }

    .line-three {
        margin-right: 0px;
    }

    .intro-head {
        font-size: 4rem;
        width:500px;
      
       
    }

    .intro-pic {
        margin-top: 20px;
    }


    .home-img-container {
       
        width: 380px; 
        height: 380px;
    }
}


@media screen and (max-width: 400px) {
    .home-container {
        max-width: 375px;
        margin: 0 auto;
        padding: 0;
      }

      .home-content-box {
        width: 100%;
    }


    .intro-h-con {
        margin-bottom: 5px;
    }

    .home-description h6 {
        font-size: .9rem;
        padding: 0;
        margin: 0px;
        width: 350px;
    }

  

    .projects-btn {
        font-size: 1rem;
        font-weight: 500;
        width: 200px;
        padding: 8px 0;
        margin: 20px 0 0 ;
        color: white;
     
    }


    .intro-head {
        font-size: 3rem; 
        padding-left: 0;
    }

    .home-img-container {
        width: 240px;
        height: 240px;
        margin-right: 0;
        margin-top: 20px;
        order:-1; 
    }

    .home-img-container img {
        height: auto;
    }
  }


