.home-outer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    /* Add additional styling if needed */
  }
  
  .inner-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
  }
  
/* using below to fix overflow issue */
.inro-col, .row {
    width: 100%;
}


.intro-head {
    color: white;
    font-size: 5.6rem; 
    font-family: 'Indie Flower', cursive;
    font-weight: 700;
    padding-left: 100px;
    display: inline-block; 
    /* text-indent: 2em; */
}

.line-two {
    /* color: #FF7777; */
    color: limegreen;
    margin-left: 120px; /* Reduced margin-left */
}

.line-three {
    margin-right: 56px; /* Reduced margin-right */
}

.container {
    padding-top: 80px; /* Reduced padding-top */
}

.row {
  display: flex;
  flex-wrap: wrap;
}


.home-img-container {
    background-color: rgba(17, 27, 47, 0.8);
    /* background-color: rgba(16, 137, 255, 0.8); */
    width: 480px; /* Reduced width */
    height: 480px; /* Reduced height */
    border: 3.2px solid #1089FF; /* Reduced border width */
   margin-right: 100px;
    /* border: linear-gradient(to right, #FF7777, limegreen); */
    border-radius: 50%;
    /* background-color: #111b2f; */
    /* opacity: 70%; */
    display: flex;
    justify-content: center;
    align-items: center;
    order: 1; 
}


@media screen and (max-width: 400px) {
    .row, .col {
        width: 400px
    }


    .intro-h-con {
       
        margin-bottom: 20px;
    }

    .intro-head {
        font-size: 3rem; 
        padding-left: 0;
       
    }

    .home-img-container {
        width: 240px;
        height: 240px;
        margin-right: 0;
        margin-top: 20px;
        order:-1; 
    }
  }