.navbar-container {
    height: 65px;
    background-color: rgb(235, 133, 65);
    text-align: right;
   /* opacity: 85%; */
}

a,span {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}
.nav-link {
    position: relative;
    color: white;
    font-weight: 700;
    margin: 0 15px;
    /* padding: 8px 10px; */
}

.nav-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px; 
    background-color:white;
    transition: width 0.3s ease; 
}

.nav-link:hover {
    color: white; 
}


.nav-link:hover::before {
   
    width: 100%;
}


  @media screen and (max-width: 500px) {
   
   .nav-link {
    font-size: 1rem;
    margin: 0 7px;
   }
  }

