.navbar-container {
    height: 125px;
    background-color: #1B2A49;
    text-align: right;
   
}

a,span {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
   
}

span {
   margin: 0 15px;
}

span:hover {
    border-bottom: 5px solid white;
  }

