.page-title {
    color: #1089FF;
    /* color: #FF7777; */
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    padding: 80px 0 20px;
    margin: 0;
}

h1.page-title {
    color: #FF7777;
}

.all-proj-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container { 
    padding-top: 0;
}

.portf-container{
    max-width: 1700px; 
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto 0 auto;
   
  }


  .col {
    margin-bottom: 70px; 
    margin-top: 70px;
    margin-right: 40px;
    margin-left: 40px; 
  }


  @media screen and (max-width: 400px) {
    .page-container {
        max-width: 400px; 
    }

    div.row.port-row {
        width: 100%;
        margin: 0;
    }

  }

  