.page-container {
  width: 100%;
  background-color:rgb(59, 55, 51);
  background-position: center;
  border-radius: 0px;
  padding-bottom: 50px;
}

.page-title {
  color: #1089ff;
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  font-family: "Ubuntu", sans-serif;
  padding: 80px 0 20px;
  margin: 0;
}

h1.page-title {
  color: #ff7777;
}

.all-proj-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container {
  padding-top: 0;
 
}

.portf-container {
  max-width: 1700px;
  padding-right: 30px;
  padding-left: 300px;
}

.col {
  margin-bottom: 70px;
  margin-top: 70px;
  margin-right: 40px;
  margin-left: 40px;
}

  /* div.row.port-row {
    width: 100%;
    margin: 0;
  } */



/* Extra Large */
@media screen and (min-width: 1450px) {
    .page-container {
      min-width: 1400px;
      background-color:rgba(79, 74, 69, 0.7);
    }

    .portf-con {
        min-width: 1400px;
       }
  }

  /* Large */
@media screen and (min-width: 993px) and (max-width: 1199px) {
  .page-container {
    min-width: 1100px;
  }
}
  /* Medium */
@media screen and (min-width: 501px) and (max-width: 1198px) {
    .page-container {
      min-width: 1000px;
    }

   
  }
  

  /* Small */
@media screen and (max-width: 400px) {
  .page-container {
    max-width: 400px;
  }
}
