.project-container {
    position: relative;
  background-color: white;
  width: 440px;
  height: 850px;
  border-radius: 20px;
  margin: 35px 0 75px 0;
  }

 
.screenshot, img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.info-container {
    margin: 0 auto;
    width: 400px;
    text-align: center;
}

.description  {
    font-size: 1.3rem;
    
}

.title {
    padding: 20px 0;
}

.view-project {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center; /* Added text-align property */
    padding: 0 20px;
}


.container.techs-container {
  height: auto;
  margin-bottom: 30px;
}

.tech {
    background-color: rgb(7, 19, 42);
    /* border: 3px solid  #003afa; */
    border-radius: 10px;
    /* color: #1089FF; */
    font-size: 1.1rem;
    padding: 4px;
    margin-left: 0;
    
}

.tech-box {
    /* display: inline-block; */
    margin: 8px 0;
   
}

.row.tech-box {
    
    align-items: center;
  }

.container {
    margin: 0;
}

.view-website, .view-code {
    background-color: rgb(7, 19, 42);
    color: #1089FF;
    
   /* Adjusted padding 
    values */
   
    border-radius: 15px;
    display: inline-block; /* Added display property */
}

.view-website {
    position: relative;
    right: 10px;
}

.view-code {
    position: relative;
    left: 10px;
}



.project-container:hover {
    /* background-color:white;
   
    width: 435px;
    height: 900px;
    border-radius: 20px;
    margin: 35px 0 75px 0; */
}

.view-website:hover {
    background-color:#1089FF;
    color: black;
}

.view-code:hover {
    background-color:#1089FF;
    color: black;
}

